body{

font-family:Arial;

background:linear-gradient(
135deg,
#4b006e,
#2a0040);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

margin:0;

}

.container{

background:white;

padding:40px;

width:400px;

border-radius:12px;

box-shadow:0px 10px 30px rgba(0,0,0,0.4);

}

h2{

text-align:center;

margin-bottom:20px;

}

input,select,textarea{

width:100%;

padding:10px;

margin-bottom:12px;

border-radius:6px;

border:1px solid #ccc;

}

button{

width:100%;

padding:12px;

background:#8a2be2;

color:white;

border:none;

border-radius:6px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#6a1bb0;

}

.link{

text-align:center;

margin-top:10px;

}